/*------------------
    RESET
-------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------
      GENERAL
-------------------*/
.container {
  max-width: 30rem;
  margin: auto;
  padding: 1.25rem 0;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  margin-top: 1.25rem;
}

h3 {
  font-size: 1rem;
}

/*-----------
  TYPO
------------*/
body {
  font-size: 0.9rem;
  font-family: sans-serif;
  color: #111111;
  background-color: #e5e5e5;
}

/*-----------
  ACCORDION
------------*/
.accordion {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
}

.accordion__title,
.accordion__body {
  padding: 0.75rem;
}

.accordion__title {
  background-color: #efefef;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion__btn {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
}